:root {
    --primary-color: #2c786c;
    --secondary-color: #f8b400;
    --accent-color: #004445;
    --light-color: #faf5e4;
    --text-color: #333;
}

/* Genel Stiller */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background-color: var(--light-color);
}

header {
    background: linear-gradient(135deg, var(--primary-color), var(--accent-color));
    color: white;
    padding: 1.5rem 0;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
    min-height: 60vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

button {
    background-color: var(--secondary-color);
    color: white;
    font-size: 18px;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: #e0a800;
    transform: translateY(-2px);
}

.message {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
}

.input-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.input-container textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    resize: none;
    min-height: 80px;
}

.input-container button {
    margin-top: 10px;
}

footer {
    background-color: var(--accent-color);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
}
